<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Test</title>
       
    </head>

    <body>

        <header>
            <div class="">
                Logo
            </div>
            <div class="">
                navigation
            </div>
        </header>

        <main>
            <section>
                <form class="" onsubmit="return handleSubmit(event)">
                    <input id="name" type="text" name="input" value="" onblur="onBlur()" placeholder="Name">
                    <input type="submit" name="" value="submit" onclick="return Client.handleSubmit(event)" onsubmit="return handleSubmit(event)"> 
                </form>
            <section>

            <section>
                <strong>Form Results:</strong>
                <div id="results"></div>
            </section>
            
                <div id="result-wrapper">
                    <div id="outPut2"><h1 id="myInfo">API WEATHER INFO</h1></div>
           
                    <div id="weather">
                       <div class="gBox" id="grid-1"></div>
                       <div class="gBox" id="grid-2">
                          <div id="mainTemp"></div>
                          <div id="feelsLike"></div>
                       </div>
                       <div class="gBox" id="grid-3">
                          <div id="icon"></div>
                          <div id="description"></div>
                       </div>
                       <div class="gBox" id="grid-4"></div>
                       <div class="gBox" id="grid-5"><h2>WEATHER INFO</h2></div>
                    </div>
                 </div>
            
        </main>

        <footer>
            <p>This is a footer</p>
        </footer>

    </body>
</html>
